* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeebe6;
}
nav {
    height: 4rem;
    background-color: #3d67da;
    
}

.logo {
    width: 10rem;
    margin-top: -10px;
}

form{
    display: flex;
    flex-direction: column;
    border: 5px;
}
main{
    flex-direction: column;
    align-items: center;
}
nav{
    flex-direction: column;
    align-items: center;
}
nav .a{
    align-items: center;
}
section{
    align-items: center;
}
.title{
    align-items: center;
    font-size: auto;
}