* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eeebe6;
}
nav {
    height: 4rem;
    background-color: #3d67da;
    
}

.logo {
    width: 10rem;
    margin-top: -10px;
}

form{
    display: flex;
    flex-direction: column;
    border: 5px;
}
main{
    flex-direction: column;
    align-items: center;
}
nav{
    flex-direction: column;
    align-items: center;
}
nav .a{
    align-items: center;
}
section{
    align-items: center;
}
.title{
    align-items: center;
    font-size: auto;
}

/* @media (min-width: 769px) {
	nav,
	main {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

} */
/* @media (min-width: 575px) {
	nav,
	main {
		display: flex; 
	}
    label {
        font-size: 12px;
    }
} */
/* @media (min-width: 312px) {
	nav,
	main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
	}
} */
@media screen and (max-width: 500px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }